<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Minas</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 500px;"></div>

    <script>
        // Inicializar el mapa
        var map = L.map('map').setView([8.24805555555555, -73.04], 5);  // Cambia a las coordenadas de tu punto

        // Cargar capa base de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Convertir geojson_data de Django a objeto JavaScript
        var geojsonData = JSON.parse('{{ geojson_data|escapejs }}');

        // Agregar los puntos al mapa
        L.geoJSON(geojsonData, {
            onEachFeature: function (feature, layer) {
                if (feature.properties) {
                    layer.bindPopup(
                        "<b>Ocupación:</b> " + feature.properties.ocupacion + "<br>" +
                        "<b>Género:</b> " + feature.properties.genero + "<br>" +
                        "<b>Lugar del evento:</b> " + feature.properties.lugar_deto
                    );
                }
            }
        }).addTo(map);
    </script>
</body>
</html>
