

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UFT-8">
        <title>Cargar archivo</title>
    </head>
    <body>
        <form action="/cargar_archivo/post/" method="POST" enctype="multipart/form-data">
            <h1>Cargar archivo shapefile</h1>
            <table>
                <tr>
                    <td><input type="file" name="shapefile_shp" accept=".shp" required></td>
                </tr>
               <tr>
                    <td><input type="file" name="shapefile_shx" accept=".shx" required></td>
                </tr>
                <tr>
                    <td><input type="file" name="shapefile_dbf" accept=".dbf" required></td>
                </tr>
                <tr>
                    <td><input type="file" name="shapefile_cpg" accept=".cpg" required></td>
                </tr>
                <tr>
                    <td><input type="file" name="shapefile_pjr" accept=".prj" required></td>
                </tr>
                <tr>
                    <td><input type="file" name="shapefile_qmd" accept=".qmd" required></td>
                </tr>
            </table>
            <button type="submit">Cargar Archivos</button>
            {% csrf_token %}
        </form>
    </body>
</html>