<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <title>Bienvenido</title>
</head>

<body>
    <h1>Sistema de información geografico (SIG)</h1>

    <ul>
        <li><a href="agregar_departamento">Agregar Departamento</a></li>
        <li><a href="agregar_municipio">Agregar Ciudad</a></li>
        <li><a href="agregar_puntoMina">Agregar Punto de mina</a></li>
        <li><a href="cargar_archivo">Cargar archivo de Punto de mina</a></li>
        <li><a href="ver_mapa">Ver mapa</a></li>
    </ul>
</body>

</html>